.list {
  list-style: none;
  width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.item {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid greenyellow;

  font-size: large;
  font-weight: bold;
}

.wrapper {
  font-weight: bold;
  font-size: large;
}
